/* All elements */
body {
  background: #4A0109 url('../img/tartan_bg.jpg');
  font-family: Georgia;
  margin: 0;
  padding: 0;
}

p {
  font-size: 14pt;
  line-height: 18pt;
}

/* Wrappers */
#wrapper {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

/* BEGIN Nav Bar */
#navBar {
  width: 20%;
  min-height: 100%;
  position: absolute;
  left: 5%;
}

.nav {
  background-color: #DDD;
  border-right: 5px solid #E66C1E;
  border-left: 5px solid #E66C1E;
}

#logo img {
  padding: 20px 0;
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: block;
}
/* END Nav Bar */

/* BEGIN Content */
#content {
  margin-left: 30%;
  width: 60%;
  padding: 3%;
  color: #fff;
}

/* END Content */

/* BEGIN Menu Links */
#menu {
  width: 100%;
}

.menu-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.menu-links {
}

.menu-links li {
    padding: 20px;
    text-align: center;
}
.menu-links a {
  color: #AAA;
  font-size: 14pt;
  text-decoration: none;
}

.current, .menu-links li.current:hover {
  color: #FFF;
  background: #E66C1E;
}
.menu-links li:hover  {
    background: #CCC;
    color: #3B3B3B;
}

/* END Menu Links */
